@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
em, i, q, cite, address,var { font-style:normal; }
body  
{
    font:12px/18px Arial , Roboto , 'Droid Sans' , 'Microsoft YaHei', 'Hiragino Sans GB' , STXihei , 'simsun' , 'sans-serif';
    *font-family:'Microsoft YaHei', 'Hiragino Sans GB' , STXihei , 'simsun' , 'sans-serif'
    color:#333; background:#fff; 
}
address { display:inline; }
img { border:0; }
li, dd { list-style:none; }
q { quotes:none; }
fieldset { border-style:none; }
/* link */ 
a { color:#0066cc; text-decoration:none; }
a:hover { text-decoration: underline; }
a img{display: block;}
/* clear float */
.cf { zoom:1; }
.cf:after { content:"."; display: block; clear:both; font-size:0; height:0; line-height:0; visibility:hidden; overflow:hidden; }
/* display */
.dis { display:block; }
.undis { display:none; }
.desDistance{margin-bottom:15px;}
.fr{ float: right !important;}
.fl{float: left !important;}
/* form */
input { height:14px; color:#666; vertical-align:middle; }
select { height:20px; line-height:20px; color:#666; border:solid #7f9db9 1px; }
input, select { font-size:12px; }
textarea { padding:3px 0 3px 3px; font-size:12px; color:#333; border:1px solid #BBB; }
input,textarea{ font-family:'Microsoft YaHei', 'Hiragino Sans GB' , STXihei , 'simsun' , 'sans-serif' }
button { background:none; border:0; color:#07328e; font-size:12px; text-decoration:underline; cursor:pointer; }
input.inputEdit { height:20px; line-height:20px; color:Black; border:0; background:none; color:#07328e; cursor:pointer; }
.fake-a,.fake-ab{color:#05a; cursor:pointer;} 
/* .fake-a:hover,.fake-ab:hover{color:#fff; background-color:#05a;}*/
h1{font-size: 30px;line-height:1.1em;margin-bottom:15px; text-indent:-2px;     word-break: break-all;    word-wrap: break-word;  font-family:  "Microsoft YaHei",simsun ; font-weight: normal;}
.breadBar{color:#333; margin-bottom:15px;}
.breadbar i,.breadbar font {font-size: 12px; padding: 0 5px;font-family:simsun;}
/*
.breadBar a{color:#05a;display: inline-block;}
.breadBar a:hover{color:#fff; background:#05a;}
*/
.gt-r{font-size:11px;margin-left:3px;color: #000;}
.gt-l{font-size:11px;margin-right:3px;color: #000;}
a:hover .gt-r,a:hover .gt-l,.fake-a:hover .gt-r,.fake-a:hover .gt-l{ color: #fff;}

/* gw header */
.gs-header{width: 100%; margin: 0 auto; padding-top:5px;position:relative; height:42px; z-index:11; border-bottom:3px solid #eee;}
.gs-header .content{ padding-top:0;}
.gs-nav{width: 690px; float: left; padding-top:7px;} /* 新搜索框width增加 需要此处的width缩小*/
.gs-nav li{ float: left; padding-right:18px; position:relative;*font-family:Microsoft Yahei;}
.gs-nav li a{color:#656565; font-size:18px;*line-height:22px;height:35px;display:inline-block; border-bottom:3px solid #eee; text-decoration:none;
_line-height:22px;_margin-bottom:-9px;_position:relative;}
.gs-nav li a:hover{color: #00a7e0; text-decoration:none; border-bottom:3px solid #01a7e1; }
.gs-nav li.active a,
.gs-nav li.active a:hover{
	border-bottom:3px solid #01a7e1; 
	color: #00a7e0;
	cursor: pointer;}
.gs-nav li .icon_home
{
    background:url(/common/img/gs-common.png) no-repeat 0 -170px;
    width:16px;
    height:16px;
	margin:1px 7px 0 7px;
    overflow:hidden;
    display:inline-block;
    }
.gs-nav li a:hover .icon_home,
.gs-nav li.active a .icon_home,
.gs-nav li.active a:hover .icon_home
{
    background-position:-26px -170px;}

/*
 老的搜索框用的样式  
.gs-search{float: right; position: relative; z-index:10;}
.gs-search-input { width:260px; height:22px; line-height:24px; border:1px solid #cbd6dc;padding:6px 2px 6px 5px;  color:#333; vertical-align:middle; background:#fff;}
.gs-search-btn {border: 0;background:url(/img/global/gs-search-btn.png) no-repeat ; cursor: pointer; width:36px; height:36px; color:#333;line-height:36px; text-align:center;display:inline-block;vertical-align:middle;position: absolute;right:0px;top: 0px;}
*/


.sgtgray{color:#aaa;}
.sgtblack{color:#333;}

.head-menu li div.forforum{ left:-297px; width:950px;}

/* head quick search 老搜索框结果显示用的样式 新的css都在global.css中 
.sgt-address { width:345px; border:1px solid #cccccc; z-index:120; overflow:hidden; font-size:12px; margin-top:-1px; position:absolute; background:#fff; display:none}
.sgt-address p { margin:0; padding:0; height:30px; line-height:30px; background:#4D6684; color:#fff; padding-left:6px; }
.sgt-address .sgt-address-list{padding:5px 0;}
.sgt-address .sgt-address-list a { display:block; cursor:pointer; line-height:24px; height:24px; padding:0 6px; color:#05a; text-decoration:none; }
.sgt-address .sgt-address-list a strong { font-weight:normal;color:#333;height:20px;}
.sgt-address .sgt-address-list a span { float:right; }
.sgt-address .sgt-address-list a:hover { background:#d4eaf6; }
.sgt-address .sgt-address-list a.current { background:#d4eaf6; }

#hKwordCon { width:420px; border:1px solid #ccc; border-top:none; overflow:hidden; font-size:12px; display:none; position:absolute; background:#fff; z-index:102;}
#hKwordCon .sgt-address-list{ padding:0 0 5px 0;}
#hKwordCon .sgt-address-list a strong { color:#333; font-weight:bold}

#hKwordCon p { margin:0; padding:0;line-height:24px; color:#aaaaab;}
#hKwordCon p span{padding-left:6px; color:#fff;}
#hKwordCon .flytitle{ background:#4D6684; color:#fff; margin:5px;}
#hKwordCon .sgt-address-list a { display:block; cursor:pointer; line-height:24px; height:24px; padding:0 6px; color:#333333; text-decoration:none;}
#hKwordCon .sgt-address-list a span { float:right;}
#hKwordCon .sgt-address-list a:hover {background:#d4eaf6;}
#hKwordCon .sgt-address-list a.current { background:#d4eaf6;}
#hKwordCon .sgt-address-list .sgt-kq{ position:relative; border-top:1px solid #ccc; padding-top:5px; background: none;}
#hKwordCon .sgt-address-list .sgt-kq em{position:absolute; z-index:121; right:2px; top:7px; padding-right:18px; display:inline-block; color:#066ba1;}
*/

#newVersion{ position:relative; z-index:102; display:none;}
#instructions{ position:absolute; top:-63px; left:135px; color:#999;}
#instructions:hover{ background:#999; color:#fff;}
#newfeatures {width:203px; height:50px; position:absolute; background:url(/img/global/bg-head-prompt.png?v2) top no-repeat; display:block; padding:20px 10px 10px; top:34px; left:50%; margin-left:-110px; display:none;}
#newfeatures span{ background:url(/img/global/bg-head-prompt.png?v2) left bottom no-repeat; text-align:center; width:45px; height:22px; display:inline-block; color:#ffffff; line-height:22px; margin-top:8px; cursor:pointer;}
#newfeatures i{ position:absolute; right:5px; top:20px; width:15px; height:15px; text-align:center; color:#999; cursor:pointer;}

#hot-fly-list1 h6{left:0;}
#hot-fly-list2 h6{left:45px;}
#hot-fly-list3 h6{left:90px;}
#hot-fly-list4 h6{left:135px;}
#hot-fly-list5 h6{left:180px;}
#hot-fly-list6 h6{left:225px;}

.desContainer{margin:15px auto; width:950px;}
.check_in, .check_out { width: 85px; padding: 4px; margin-right: 15px; background: url(/img/global/desMail.png) right no-repeat white; cursor: pointer; border: 1px solid #cccccc; }
.bg_dis .hotel_manage_bg_uplayer{display:block;}

.star_level10,.star_level15,.star_level20,.star_level25,.star_level30,.star_level35,.star_level40,.star_level45,.star_level50,.star_level55,.star_level60{display:inline-block;width:75px;height:15px;background:url(/img/global/icon_star_level20110617.png?v1) no-repeat;}
.star_level10{background-position:left -129px;}
.star_level15{background-position:-15px -129px;}
.star_level20{background-position:-15px -153px;}
.star_level25{background-position:-30px -129px;}
.star_level30{background-position:-30px -153px;}
.star_level35{background-position:-45px -129px;}
.star_level40{background-position:-45px -153px;}
.star_level45{background-position:-60px -129px;}
.star_level50{background-position:-60px -153px;}
.star_level55{background-position:-75px -129px;}
.star_level60{background-position:-75px -153px;}
.little_star_level10,.little_star_level15,.little_star_level20,.little_star_level25,.little_star_level30,.little_star_level35,.little_star_level40,.little_star_level45,.little_star_level50,.little_star_level55,.little_star_level60{display:inline-block;width:65px;height:13px;background:url(/img/global/icon_star_level20110617.png?v1) no-repeat;vertical-align:-10%;}
.little_star_level10{background-position:left -178px;}
.little_star_level15{background-position:-13px -178px;}
.little_star_level20{background-position:-13px -200px;}
.little_star_level25{background-position:-26px -178px;}
.little_star_level30{background-position:-26px -200px;}
.little_star_level35{background-position:-39px -178px;}
.little_star_level40{background-position:-39px -200px;}
.little_star_level45{background-position:-52px -178px;}
.little_star_level50{background-position:-52px -200px;}
.little_star_level55{background-position:-65px -178px;}
.little_star_level60{background-position:-65px -200px;}
.small_star_level10,.small_star_level15,.small_star_level20,.small_star_level25,.small_star_level30,.small_star_level35,.small_star_level40,.small_star_level45,.small_star_level50,.small_star_level55,.small_star_level60{display:inline-block;width:50px;height:14px;background:url(/img/global/icon_star_level20110617.png?v1)  no-repeat;}
.small_star_level10{background-position:left -218px;}
.small_star_level15{background-position:-10px -218px;}
.small_star_level20{background-position:-10px -237px;}
.small_star_level25{background-position:-20px -218px;}
.small_star_level30{background-position:-20px -237px;}
.small_star_level35{background-position:-30px -218px;}
.small_star_level40{background-position:-30px -237px;}
.small_star_level45{background-position:-40px -218px;}
.small_star_level50{background-position:-40px -237px;}
.small_star_level55{background-position:-50px -218px;}
.small_star_level60{background-position:-50px -237px;}
/*----------------------blue_starBg Style-----------------------*/
.blue_star01,.blue_star02,.blue_star03,.blue_star04,.blue_star05{display:inline-block;height:12px;background:url(/img/global/icon_star_level20110617.png?v1) no-repeat 0 -309px;overflow:hidden;}
.blue_star01{width:12px;}
.blue_star02{width:25px;}
.blue_star03{width:38px;}
.blue_star04{width:51px;}
.blue_star05{width:64px;}

.newdesFooter{width:950px;margin:0 auto; padding:5px 0 8px; position:relative;color:#999;border-top:1px solid #eaeaea;line-height:18px;font-weight:normal;}
.newdesFooter .copyRight{color:#999;}
.newdesFooter .quickLinks span,.newdesFooter .quickLinks a{margin-right:15px;text-decoration:none;display:inline;}
.newdesFooter strong{font-weight:normal;}
.newdesFooter .icp{float:right;}
.newdesFooter .icp .fake-ab{color:#999;text-decoration:none;}
.newdesFooter .icp .fake-ab:hover{background:#999;color:#fff;}

/*Navigation of Page20110817*/
.desNavigation{padding:5px 0;color:#666; line-height:19px; font-family:Arial; border:solid #e6e7e7; border-width:1px 0 0;}
.desNavigation p span, .desNavigation .page_links{float:right;}
.desNavigation p span a,.desNavigation p span em,.desNavigation p span b, .desNavigation .page_links a, .desNavigation .page_links em, .desNavigation .page_links b{display:inline-block;height:19px;line-height:19px;margin-right:1px;padding:0 6px;border:solid #eee 1px;background: #fff;}
.desNavigation p span b{color:#aaa;font-weight:normal;}
.desNavigation p span b a{ border: 0;padding: 0;font-weight: normal;}
.desNavigation p span b a:hover{ border: 0;}
.desNavigation p span a:hover{background:#000;}
.desNavigation p i{display:inline-block;}
.desNavigation p span a{text-decoration:none;}
.desNavigation p span em.current, .desNavigation .page_links em, .desNavigation .page_links a:hover, .desNavigation p span a:hover{background:#6ac0eb;color:#fff;border:solid #6ac0eb 1px;}
.desNavigation .left_arrow, .desNavigation .right_arrow{padding:0 2px 0 3px;}
.new-paging .desNavigation{padding:30px 0 50px;text-align:center;border:none;background:none;}
.new-paging .desNavigation a,.new-paging .desNavigation em,.new-paging .desNavigation  b{display:inline-block;height:19px;line-height:19px;margin-right:10px;padding:0 6px;}
.new-paging .desNavigation a:hover{ background: #6ac0eb;}
.new-paging .desNavigation b{color:#aaa;font-weight:normal;}
.new-paging .desNavigation i{display:inline-block;}
.new-paging .desNavigation a{text-decoration:none;}
.new-paging .desNavigation .current{background:#6ac0eb;color:#fff;}
.new-paging .desNavigation .right_arrow{ margin-left: 15px;}
.new-paging .desNavigation .left_arrow{ margin-right: 15px;}

.desNavigation p span a{
    color: #518fce;
	float:left;
    margin-right: 2px;
	height:27px;
	padding:0 10px;
	display:inline-block;
	overflow:hidden;
	border-radius:4px;
	margin-right:2px;
    text-decoration: none;
	text-align:center;
	line-height:27px;
	border:none 0;
}
.desNavigation p span a:hover{ border:none; color:#518fce; background:#E5F0FC; text-decoration:none;}
.desNavigation p span em{
	float:left;
	margin-right:2px;}
.desNavigation p span em.current{
	height:27px;
	overflow:hidden;
	padding:0 10px;
	border:none;
	line-height:27px;
	display:inline-block;
	border-radius:4px;
}
.desNavigation p span .left_arrow{
	padding:0 10px;
	background:#E5F0FC;
	}
.desNavigation p span .left_arrow:hover{
	background:#6AC0EB;
	color:#fff;
	border-radius:4px;}

.desNavigation p span .right_arrow{
	float:left;
	color:#999;
	height:27px;
	border:none 0;
	line-height:27px;
	background:#efefef;
	border-radius:4px;
	padding:0 10px;}
.desNavigation p span b{
	float:left;
	border:none 0;
	height:27px;
	line-height:27px;}
.desNavigation p span b a:hover{
	background:none;}



/*lp popup layer*/
.popup_win{border:1px solid #c9c9c9;position:fixed;_position:absolute;z-index:9999;background:#fff;border-radius: 10px;}
.popup_win_bg{position: fixed; _position:absolute; z-index: 110;background:#000; opacity: 0.5; filter:alpha(opacity=50);left: 0; top: 0;z-index:8888;width:100%;height:100%;}
.popup_win_close{position:absolute;top:15px;right:20px;z-index:99;background: url(/img/golbal/popup_close.png) no-repeat;width: 13px; height:15px;display: block;text-indent: 10em;overflow: hidden;}
.popup_loading{padding:25px 40px;}
.new-login-tips{ position: relative;z-index:10;text-align:left;}
.new-login-tips .tips-wrap{position:absolute;left:-160px;top:11px;top:0px\9;*top:11px;padding-top:8px;display: none;}
.new-login-tips .tips-wrap .tip-con{background:#fff8e7;border:1px solid #dee8f2;border-color:#fae8b1 #999 #999 #fae8b1;padding:5px 5px 5px 10px;color:#656565;width:270px;}
.new-login-tips .tips-wrap .aw{position:absolute;top:4px;left:168px;display:block;width:8px;height:5px;background:url(/img/golbal/icon_global110608.png) no-repeat -14px -329px;overflow:hidden;}
#divloginId .new-login-tips .tips-wrap .tip-con{text-align:left;}
#color-newlogin-tip{line-height:1em;margin-top:3px!important;font-size:11px;}
.email-suggest{width:190px;border:1px solid #ccc;background:#fff;padding:3px 2px;color:#999;overflow:hidden;}
.email-suggest .cur{background:#eff6ff;}
.email-suggest li{ cursor: pointer;}
/*reg box*/
.sign-fldset .fldset{margin-bottom:10px;}
.sign-fldset .fldset p{margin-bottom:5px;}
.sign-fldset .tips{margin-left:5px;color:#666;}
.sign-fldset .error{color:Red;}
.sign-fldset .ok{color:green;background: url("/img/global/icon_global110608.png") no-repeat 0 -469px;height:13px;padding:1px 8px;width:auto;vertical-align:middle;}
.box-sign-t{font-size:14px;color:#333;margin-bottom:15px;border-bottom:1px solid #ccc;padding:0 0 5px;background: none;}
.box-txt-input{width:190px;border:solid #c9c9c9 1px;padding:3px 2px;height:20px;border-radius:3px;line-height:20px;}
.box-txt-code{width:85px;}
.box-txt-btn{color:#fff;background:#F0B108;padding:4px 20px;*padding:4px 10px 0;border-radius:3px;border:1px solid #F0B108;cursor:pointer;font-size:14px;font-weight:bold;height:auto;}
.box-txt-btn-gray{background:#edf0f1;color:#333;font-weight:normal;border-color: #d6d6d6;}
.box-reg-sec-con{padding:15px 20px;width:485px;}
#friendsTrend{display:none;}
.mod-cityguide{margin-bottom:35px;}
.mod-cityguide img{ display: block;}
.global-feedback{ position: fixed;top: 40%;left:50%;margin-left: 495px;background: #c5c5ae;border-radius: 10px;_position:absolute;_margin-top:expression(eval(document.documentElement.scrollTop));opacity: 0;filter: alpha(opacity=0);width:60px;text-align: center;line-height:20px;padding: 10px 0;}
.global-feedback a{ display: block;color: #fff;font-size:14px;}
.global-feedback a:hover{ background: none;}
#new-vison-instro{width:510px; height:506px; position:absolute; left:50%;margin-left:-255px; top:150px;z-index:1000;}
#new-vison-instro .close{right:15px; top:15px; position:absolute; z-index:1001; height:15px; line-height:15px; padding-right:17px; cursor:pointer;color: #ea7508;}
#new-vison-instro .close i{ width:15px; height:15px; overflow:hidden; background:url(/img/others/110821/bg-qactivity.png) -16px -13px no-repeat;  cursor:pointer; position:absolute; right:0;}
#new-vison-instro .close:hover i{background-position:-31px -13px; }
#new-vison-instro .shadow{width:510px; height:506px; position:absolute; right:0px; top:0; background:#333;  opacity:0.3; filter:alpha(opacity=30);border-radius: 5px;}
.new-vison-instro-content{width:480px; height:456px; top:5px; left:5px;position:relative;background: #fff url(/img/common/lp_newvison_bg.jpg) no-repeat;padding: 30px 10px 10px;}
.new-vison-instro-content p{padding-bottom:12px;}
.new-vison-instro-content h6{font-size:12px;padding-bottom:5px;}
.header_message_number{ background: url(/img/common/letter.gif) no-repeat 0 3px;padding-left:19px;}
.lp-newvison-tips{ background: #fefad7;position: absolute;border: 1px solid #fede92;width:250px;z-index:10;border-radius: 3px;}
.lp-newvison-tips i{ background: url(/img/global/tmp_tips_bg.png) no-repeat;display: block;width:9px;height:6px;position: absolute;top:-6px;left:10px;}
.lp-newvison-tips .bd{ padding: 10px;}
.lp-newvison-tips .close-b{ text-align: right;}

.content{width: 980px; margin: 0 auto; padding-top:20px;}
.main{ width: 680px; float: right;} 
/* .main{ width: 660px; float: right;}*/
.side{ width: 270px; float: left;}
.mod{ padding-bottom: 40px; }
/* .hd{font:18px/34px "Microsoft YaHei",SimHei; color:#666666;  height: 34px;} */
.hd{font:18px/34px "Microsoft YaHei",SimHei; color:#333; word-break: break-all;word-wrap: break-word;}
.bd{ padding-top: 10px;}

/* public start */

.ellipsis {
	
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.gs_tianqi_mini{
    color: #4ea6e1; font:18px/24px "Microsoft YaHei",SimHei; padding-right: 6px;
    float: left; width: 125px; padding-right: 35px;
    margin-top: 5px;
}

.gs_tianqi_mini img
{
    vertical-align:-10%;
}

.gs-page{
    border-top: 1px solid #ededed;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
}
.gs-page a{
    color: #999;
    padding: 5px 20px;
    background: #e4f0fc;
    border-radius: 5px; 
}

/* goback */
#gs_feedback_gotop{_display:none}
#gs_feedback_gotop .side_fixed { position:fixed; right:20px; bottom:50px; z-index:140;}
#gs_feedback_gotop .to_top { position:relative; display:block; width:35px; height:0; margin-left:-8px; margin-bottom:2px; padding-top:35px; background:url(../img/global/go-top.png) no-repeat;overflow:hidden; cursor:pointer; z-index:2; visibility: hidden;}
#gs_feedback_gotop .to_top:hover { background-position:-36px 0; }
#gs_feedback_gotop .c_fq,
#gs_feedback_gotop .c_qs,
#gs_feedback_gotop .c_os{display:block;width:35px;height:0;margin-left:-8px;padding-top:35px;overflow:hidden;cursor:pointer;z-index:2;margin-bottom:2px;position:relative;background:url(../img/global/go-top.png) no-repeat;}
#gs_feedback_gotop .c_fq{background-position:0 -38px;}
#gs_feedback_gotop .c_fq:hover{background-position:-36px -38px;}
#gs_feedback_gotop .c_qs{background-position:0 -76px;}
#gs_feedback_gotop .c_qs:hover{background-position:-36px -76px;}

 h1.nostyle
,h2.nostyle
,h3.nostyle
,h4.nostyle
,h5.nostyle
{
    margin: 0px;
    padding: 0px;
    line-height: 1;
    display: inline-block;
    *display: inline;
    *zoom:1;
}


.hd h2{
	font-size:18px;
	color:#333;
	display:inline-block;
	line-height:1;
	*line-height:normal;
	font-weight:normal;
}

.hotgroup a{
	width:253px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display:inline-block;
	vertical-align:middle;

}

.hotgroup a.gsn-btnmore{
	width:auto;
	position:absolute;
	right:0;
	bottom:5px;
	bottom:5px;}
/*footer*/
.footblue{
	border-bottom:1px dashed #9fcbf9;
	padding-bottom:40px;}
.footbg{
	padding:20px 0;
	background:#6ebeea;
	overflow:hidden;}
.footblue .footinner{
	width:1000px;
	padding-left:20px;
	margin:0 auto;}
.footblue .footinner dl{
	width:180px;
	overflow:hidden;
	float:left;
	padding-right:20px;}
.footblue .footinner dt{
	color:#fff;
	padding-bottom:10px;
	font-weight:bold;
	font-size:16px;
	font-family:MicroSoft YaHei;}
.footblue .footinner dd{
	line-height:22px;}
.footblue .footinner a{
	color:#fff;}
i.ico-sinawb{
	background: url(/img/icon.png) 0 -347px;
	width:32px;
	height:32px;
	overflow:hidden;
	display:inline-block;}


/* 旧的公告——去掉 
.gs_affiche{
    float: right;
    width: 250px;
    height: 19px;
    overflow: hidden;
    padding-left: 20px;
    background : url("/common/img/icon.png") no-repeat -264px -499px;
}

.gs_affiche ul{}
.gs_affiche li{
    width: 250px;
    line-height: 19px;
    overflow: hidden;
}
*/

.gs_affiche { float: right; width: 250px; height: 25px; padding-left: 20px; box-shadow: 2px 2px 0 0 #efefef; }
.gs_affiche .gs_affiche_tit { float: left; width: 25px; height: 25px; background : url(/common/img/gs_affiche_icon.png) no-repeat; font-style: normal; color: #fff; line-height: 25px; padding-left: 19px; font-size: 12px; margin-left: -26px; }
.gs_affiche .close { background: url(/common/img/gs_affiche_icon.png) -33px -28px no-repeat; float: left; width: 13px; height: 13px; display: block; margin-top: 6px; }
.gs_affiche ul { height: 23px; border: 1px solid #ddd; border-left: none; float: left; overflow: hidden; padding-right: 20px; margin-right: -20px; }
.gs_affiche ul li { width: 195px; padding: 0 8px; line-height: 23px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.gs_affiche ul li a { color: #666; }
.gs_affiche ul li a span { color: #FF5A26; }


.gs_activity { border: 1px solid #ddd; background-color: #fff; }
.gs_activity h3 { background: #eee; line-height: 28px; height:28px; color: #666; padding-left: 10px; font-size: 12px; position:relative; }
.gs_activity_tab { width: 33px; height: 14px; position:absolute; top:6px; right:8px; }
.gs_activity_tab a { width: 16px; height: 14px; display: block; float: left;}
.gs_activity_tab a.prev { background: url("/common/img/gs_affiche_icon.png") no-repeat scroll 0 -28px transparent;}
.gs_activity_tab a.next { margin-left: 1px; background: url("/common/img/gs_affiche_icon.png") no-repeat scroll -15px -28px transparent; }
.gs_activity_tabbox div { display: none; }
.gs_activity_tabbox div img { width: 250px; height: 92px;margin: auto; }
.gs_activity_tabbox div .line { font-size: 0; line-height: 0; height: 5px; margin: 0 10px; }


.gs_strategy { width: 206px; height: 136px; padding: 130px 0 0 45px; background: url(/common/img/gs_affiche_bg.png) no-repeat; position: relative; }
.gs_strategy .close { background: url(/common/img/gs_affiche_icon.png) 0 -45px no-repeat; width: 28px; height: 28px; display: block; position: absolute; right: 20px; top: 30px; z-index: 1; }
.gs_strategy .img { width: 70px; height: 96px; float: left; padding-right: 10px; }
.gs_strategy h3 { margin-top: 15px; }
.gs_strategy p { margin: 10px 0; color: #999; }
.gs_strategy .download { display: block; width: 80px; height: 25px; background: #FE6A08; color: #fff; font-weight: bold; float: left; text-decoration: none; text-align: center; line-height: 25px; font-size: 14px; }


/*qa-side textcenter*/
.q-content .q-side a 
{
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; display: block;
    overflow: hidden;
    width: 60px;}

/*right hd comment list*/
.hotgroup .bd li{*width:270px;*overflow:hidden;}
    
    
a.gsn_btn_report
{
    color:#aaa;}
.guide-list li span.pdf-img { background:url(/img/hp/nopic_120170.png) no-repeat -20px -30px;}
.guide-list li span.pdf-img img{ vertical-align:top;}
.nopic180120
{
    background:url(/img/hp/nopic_180120.png) no-repeat;
    width:180px;
    height:120px;
    overflow:hidden;
    border-radius:5px;
    display:block;}

.nopic100100{
    background:url(/img/des/nopic_100.png) no-repeat;
    width:100px;
    height:100px;
    border-radius:5px;
    overflow:hidden;
    display:block;}

body,html {
    height: 100%:
}



/* common member head */
.gsn-layer{	padding:25px 30px; border:1px solid #d0d0d0;box-shadow:0 0 3px 0px #ccc;background: #fff;}
.gsn-layer .close{width:32px;height:32px;overflow:hidden;display:inline-block;position:absolute;right:-10px;top:-10px;background:url(/img/icon.png) no-repeat -120px -347px;}
.gsn-layer .close:hover{background-position:-158px -347px;}

/* pupopbox */
.gs_SHUCOVER_V1{background-color:#0ff;position:fixed;left:0;top:0;width:100%;height:100%;filter:alpha(opacity=50);opacity:.5;z-index:141;_position:absolute;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2:document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2);}
.gs_SHUCOVER_IFRAME_V1{position:fixed;_position:absolute;width:100%;height:100%;border:none;filter:alpha(opacity=0);opacity:0;left:0;top:0;z-index:-1;}
.gs_LAYER_PARENT_V1{top:50%;left:50%;position:fixed;z-index:142;_position:absolute;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight - this.offsetHeight)/2+this.offsetHeight/2:document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2);}
.gs_hide{display:none;}

.head-popbox{width:350px;font-size:14px;}
.head-popbox dt{color:#066ba1;}
.head-popbox dd.head-bg{width:346px;height:138px;position:relative;	overflow:hidden;background:url(/img/member/head-sculpture.png) no-repeat 95px 30px;}
.head-popbox p{	padding-top:40px;	text-align:right;}
.head-popbox p a{margin-left:12px;}
.head-bg span{display:inline-block;	position:absolute;	overflow:hidden;}
.head-bg span.nametext{	width:70px;	height:26px;line-height:26px;text-align:center;	font-size:12px;	color:#aaa;	top:68px;left:96px;}
.head-bg span.headpic{left:185px;top:30px;width:55px;height:55px;}
.head-bg span.headpic img{width:55px;height:55px;border-radius:28px;}

.gsn-btn-20,
.gsn-btn-21{background: url("/img/normal-button.png") no-repeat scroll 0 0 transparent; cursor: pointer; display: inline-block; overflow: hidden;text-align: center;text-decoration: none;}
.gsn-btn-20{background-position: 0 -292px ; color: #FFFFFF; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; width: 95px;}
.gsn-btn-21{background-position: -512px -295px; color: #333333;font-size: 14px;height: 30px;line-height: 30px;width: 95px;}

/* 360 */
.ctrip360{width: 980px; position: fixed; _position:absolute;  bottom: 0; margin-left: 50%;}
.ctrip360 .inner{ margin-left: -50%; width:980px; position: relative; }
.ctrip360 .close360{ width: 15px; height: 15px; display: block; position: relative; margin-left: 965px; z-index: 3; background:#024ba7; color:#fff; line-height:14px; overflow:hidden; font-weight:bold; text-align:center; font-size:10px;}
.ctrip360 .a360{display: block; width:980px; margin-top: -15px;}

/* Vacations部门提供友链 */
.friend-link{width:980px; overflow: hidden; padding-top: 10px; margin:0 auto;}
.friend-link ul{ font-size:12px; color:#999;}
.friend-link li{display:inline-block; float:left; margin-right:20px;}
.friend-link li a{ color:#999;}
.friend-link li a:link{ color:#999;}


/*头部添加提醒*/
.gs-nav li a.gstips_supcount,a.gstips_supcount{
	background:#fe7e3d;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	font-family:arial;
	padding:0 4px;
	height:10px;
	line-height:10px;
	border-radius:3px;}
.gs-nav li .tipsbox_outer{
    position:absolute;
    top:-6px;
    display:inline-block;
	right:-14px;
	width:30px;
	overflow:hidden;
	text-align:left;}
.gs-nav li .tipsbox_outer a.gstips_supcount{
	background:#ff9913;
	font-weight:normal;
	height:13px;
	border-radius:7px;
	line-height:13px;
	border-bottom:0;
	vertical-align:top;
	
}
.gs-nav li a.gstips_supcount:hover,a.gstips_supcount:hover{
	background:#fe6517;
	text-decoration: none;}
.gs-notice{
	left:-34px;
	top:5px;
	position:absolute;
	z-index:11}
.gs-notice a.ico_linkpbox{
	height:24px;
	width:24px;
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	background:url(/common/img/gs-common.png) no-repeat 0 -187px;
}
.gs-notice a.ico_linkcurrent{
	background-position:-25px -187px;}
.gs-notice .populist{
	width:100px;
	background:#fff;
	padding:4px 0;
	border:1px solid #d7d7d7;
	z-index:11;
	*font-family:Microsoft Yahei;
	}
.gs-notice .populist li{}
.gs-notice .populist li i{
	width:17px;
	height:17px;
	overflow:hidden;
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
	background:url(/common/img/gs-common.png) no-repeat;}

.gs-notice .populist li a{
	width:100px;
	height:27px;
	color:#333;
	font-size:16px;
	text-align:center;
	display:inline-block;
	padding-top:8px;
	}
.gs-notice .populist li.current a:hover{
	background:#32b9e8;
	text-align:center;
	text-decoration:none;
	color:#fff;}
.gs-notice .npoptip-arrow{position:absolute; width:20px; height:12px; overflow:hidden; display:inline-block; left:50%; margin-left:-10px; background:url(/common/img/gs-common.png) no-repeat -78px -262px; top:0; z-index:12;}
.gs-notice .glistbox{
	display:none;
	width:108px;
	margin-left:-43px;
	position:relative;
	*margin-top:4px;
	}
.gs-notice .glistbox .ulouter{
	width:102px;
	padding:3px;	
	position:absolute;
	top:8px;
	background-color:rgba(204, 204, 204, 0.3);
 filter:progid:DXImageTransform.Microsoft.Gradient(enabled='true', GradientType=0, StartColorStr='#A0f0f0f0', EndColorStr='#A0f0f0f0');}
.savejournal
{
    width:340px;
	font-size:14px;}
.savejournal p{
	line-height:24px;
	padding-bottom:5px;}
.savejournal p.loading{
	height:32px;
	padding-bottom:25px;
	background:url(/img/load.gif) no-repeat center top}
.noderoll{
	position: relative;
	overflow: hidden;
}
.noderoll .cannot-click{
	
}
.gs_activity_tab a.cannot-click.prev { background: url("/common/img/gs_affiche_icon.png") no-repeat scroll 0 -79px transparent;}
.gs_activity_tab a.cannot-click.next { margin-left: 1px; background: url("/common/img/gs_affiche_icon.png") no-repeat scroll -15px -79px transparent; }
.noderoll .noderoll-inner{
	/*height: 195px;*/
	padding: 5px 0;
}
.noderoll .noderoll-inner .item{
	display: none;
	/*position: absolute;
	transition: left 0.6s ease-in-out 0s;*/
}
.noderoll .noderoll-inner .item.active{
	display: block;
}

/* 文本框样式 */
.gs-search-2{
    float: right;
    position: relative;
    z-index: 10;
}
.gs-search-2 input {
    border: 1px solid #CBD6DC;
    border-right: 0 none;
    font-size: 14px;
    height: 28px;
    line-height:28px;
    overflow: hidden;
    padding-left: 10px;
    width: 270px;
}
.gs-search-2 .btn-search{
    position: absolute;
    right: 0px;
    top: 0px;
	_top:2px;
	_right:-1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(/common/img/gs-common.png) no-repeat -52px -180px;
}
.gs-search-2 .btn-search:hover{
    background-position:0 -212px;
}
.gs-search-2 .btn-search:active{
    background-position:0 -243px;
}

.search-box{
    position: absolute;
    margin-top: -1px;
    width: 312px;
    border: 1px solid #CBD6DC;
    background-color: #FFF;
    z-index: 102;
    display: none;
}
.search-box .divider{
    border-top: 1px solid #cbd5db;
    height: 0;
}
.search-box .color-r{
    color: #cc0000;
}
.search-box a{
    padding-left: 7px;
    padding-right: 5px;
    display: block;
    line-height: 32px;
    color: #333;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-box a:hover,
.search-box a.current{
    text-decoration: none;
    background-color: #eeeeee;
}
.search-box .keyword{
    font-weight: bold;
}
.search-box .text_flow{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align:middle;
    max-width: 180px;
    line-height:normal;
}
.search-box a i{
    width: 20px;
    height: 20px;
    margin: -3px 7px 0 0;
    display: inline-block;
    vertical-align: middle;
    background: url(/common/img/gs-common.png) no-repeat 0 0;
}
.search-box a i.icon_des{
    background-position: -78px -120px;
}
.search-box a i.icon_shop{
    background-position: -78px 0;
}
.search-box a i.icon_attr{
    background-position: -78px -30px;
}
.search-box a i.icon_rest{
    background-position: -78px -60px;
}
.search-box a i.icon_amus{
    background-position: -78px -90px;
}
.search-box a i.icon_attr_list{
    background-position: -78px -150px;
}

/* 运营广告，右侧固定 */
@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {top:180px;}
25%  {top:175px;}
50%  {top:180px;}
75%  {top:185px;}
100% {top:180px;}
}
@keyframes myfirst
{
0%   {top:180px;}
25%  {top:175px;}
50%  {top:180px;}
75%  {top:185px;}
100% {top:180px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {top:180px;}
25%  {top:175px;}
50%  {top:180px;}
75%  {top:185px;}
100% {top:180px;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {top:180px;}
25%  {top:175px;}
50%  {top:180px;}
75%  {top:185px;}
100% {top:180px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {top:180px;}
25%  {top:175px;}
50%  {top:180px;}
75%  {top:185px;}
100% {top:180px;}
}
.gsoperateright{ width:980px; margin:0 auto; text-align: left; }
.gs_operate_right_fix{
	width: 95px;
	height: 280px;
	background: url(/common/img/operate_right_fix.png?t=0325) 0 0 no-repeat;
	position:fixed;
	_position: absolute;
	margin-left: 1000px;
	top:180px;	
	animation:myfirst 1s ease-in 4s;
	-moz-animation:myfirst 1s ease-in 4s ; /* Firefox */
	-webkit-animation:myfirst 1s ease-in 4s; /* Safari and Chrome */
	-o-animation:myfirst 1s ease-in 4s; /* Opera */
}
.gs_operate_right_fix a.one{display: block;font-size: 14px;font-weight: bold;color:#00a7df;height:262px;text-decoration:none;text-align:center;margin-top:10px;}
.gs_operate_right_fix a.one span{ color:#ff9a00; display:block;}
.gs_operate_right_fix a.close{width: 16px;height: 16px;font-size: 0;float: right;	margin: 2px 2px 0 0; background: url(/common/img/operate_right_fix.png?t=0325) -116px -1px no-repeat;}
.gs_operate_right_fix a:hover.close{background-position:-100px -1px;}

.gs-nav li .gs_newicon
{
    background:url(/common/img/gs-common.png) no-repeat -53px -152px;
    width:23px;
    height:15px;
    overflow:hidden;
    display:inline-block;
    position:absolute;
    top:-15px;
    right:0;
}

/* 无线弹弹出层注入 */
.app_wrap input,.app_wrap p{margin:0;padding:0;}
.app_wrap a{color:#06c;text-decoration:none;}
.app_wrap a:hover{text-decoration:underline;}
.app_wrap .s_btn,.app_wrap .s_btn_disabled{width:145px; height:33px;  color:#fff; font-size:16px; font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif; font-weight:bold; cursor:pointer;  text-align: center; letter-spacing: 0.4em;text-indent:0.4em;box-shadow:0 1px 0 rgba(95,50,0,0.7); border-radius:3px; *filter:chroma(color=#000000);}
.app_wrap .s_btn{text-shadow:1px 1px 0 #cf7000;background-color:#ffb000;border:solid 1px #e77c00;}
.app_wrap .s_btn_disabled{color:#999;background-color:#efefef;border:solid 1px #ccc;cursor:default;}
.s_item input,.s_item2 input,.s_item3 input{width:140px; padding-left:3px;margin-left:10px; border-color:#bbb #ddd #ddd #bbb; border-style:solid; border-width:1px; height:28px; font:14px/28px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;*vertical-align:middle;outline:none;color:#333;box-shadow:1px 1px 1px #ddd inset;}
.app_wrap{position:fixed;z-index:999;top:auto;bottom:0;width:100%;height:222px;background:url(http://pic.c-ctrip.com/index/bg_mask20131029.png) repeat-x 0 -225px;_position:absolute;_background:#1E2939;}
.app_box{position:relative;z-index:1;width:980px;height:185px;margin:0 auto;font:12px/1.5 arial,Simsun,sans-serif;color:#333;}
.pic_phone,.ico_success,.ico_alert{background:url(http://pic.c-ctrip.com/index/un_app.png) no-repeat;}
.ico_success,.ico_alert{display:inline-block;width:16px;height:16px;margin-right:3px;vertical-align:middle;}
.ico_success{background-position:-25px -210px;}
.ico_alert{background-position:-45px -210px;}
.pic_phone{position:absolute;top:-20px;left:0;width:145px;height:198px;background-position:0 0;}
.app_wrap .app_close{position:absolute;top:10px;right:0;font:normal 38px Simsun;color:#9AA1A8;outline:0 none;}
.app_wrap .app_close:hover{text-decoration:none;}
.app_text{position:absolute;top:23px;left:155px;width:340px;font-family:'microsoft yahei';color:#FFF;}
.app_text .t{font-size:38px;}
.app_text .t strong{margin-left:10px;}
.app_text .t2{font-size:30px;}
.app_text .t2 strong{margin-left:15px;}
.app_text .c{line-height:1.2;font-size:26px;}
.app_text .c span{margin-left:10px;color:#FF8300;}
.app_text .c dfn{font-style:normal;font-size:28px;font-family:Tahoma;}
.app_text .c .emphasis{vertical-align:-2px;font-size:32px;}
.app_text .c2{margin:-65px 0 -20px;font-size:36px;color:#FF8300;}
.app_text .c2 span{font-weight:bold;font-size:90px;font-style:italic;font-family:Tahoma;}
.app_text .c3{font:18px "Microsoft Yahei";color:#899cb8;}
.app_cont{position:absolute;top:0;left:495px;width:385px;height:170px;padding:15px 25px 0 30px;color:#FFF;background:url(http://pic.c-ctrip.com/index/bg_mask20131029.png) repeat-x 0 -35px;_background:#49535F;}
.app_form{float:left;width:270px;}
.app_form .t{margin-bottom:8px;font:normal 16px "Microsoft Yahei";}
.app_form .t a{margin-left:10px;font-size:12px;font-family:Tahoma;color:#FFF;}
.app_form .t a span{font-size:14px;}
.app_form .s_item{width:auto;margin:3px 0;}
.app_form .s_item input{margin:0 10px 0 0;vertical-align:middle;}
.app_wrap .btn01,.app_wrap .btn01_disabled{display:inline-block;padding:0 15px;height:26px;line-height:26px;vertical-align:middle;background:#2277cc;border-radius:3px;box-shadow:0 1px 0 #0D2E6F;font-family:'simsun';color:#fff;font-size:12px;cursor:pointer;}
.app_wrap .btn01:hover{background:#2299FF;text-decoration:none;}
.app_wrap .btn01_disabled,.app_wrap .btn01_disabled:hover{text-decoration:none;cursor:default;background-color:#D1D1D1;box-shadow:0 1px 0 #333;}
.app_download{position:relative;margin-top:3px;_zoom:1;}
.app_download .btn_d{display:inline-block;padding:3px 15px;margin-right:8px;vertical-align:middle;font:normal 16px Tahoma;color:#FFF;border:1px solid #FFF;border-radius:3px;box-shadow:0 1px 0 #09214A;}
.app_download .btn_d:hover{text-decoration:none;color:#555E6B;background-color:#FFF;}
.app_tip{margin-bottom:3px;color:#B1B1B1;}
.app_android{position:absolute;left:82px;bottom:-7px;*left:84px;width:80px;padding:0 10px 10px;text-align:center;font:normal 16px Tahoma;color:#555E6B;border:1px solid #D6D6D6;background-color:#FFF;}
.app_android a{display:block;height:26px;margin-top:10px;line-height:26px;border:1px solid #d1d1d1;border-radius:3px;background-color:#fcfcfc;color:#2577E3;text-align:center;box-shadow:0 1px 1px rgb(209,209,209);font-size:12px;font-family:SimSun;cursor:pointer;*filter:chroma(color=#000000);}
.app_android a:hover{text-decoration:none;background-color:#06c;color:#fff;border-color:#06c;}
.app_android span{display:block;margin-top:10px;}
.app_code{float:right;padding-top:20px;}
.app_code p{margin-bottom:3px;}
.app_collect{height:38px;text-align:center;font:normal 16px/38px "Microsoft Yahei",Tahoma;color:#FFF;background-color:#000;}
.app_collect .s_btn{height:26px;margin-left:15px;padding:0 10px;line-height:26px;letter-spacing:0;font-weight:normal;font-size:15px;text-shadow:none;}
.app_collect .s_btn:hover{text-decoration:none;}

/* GSBSEO-1 */
.gs_outside_partner{ background: #fff; font-family: simsun; font-size: 12px; border: 1px solid #dedede; line-height: 22px; text-align: left; width: 980px; overflow: hidden; margin: 20px auto; padding: 10px 20px;}
.gs_outside_partner dl{ line-height: 22px; overflow:hidden; height: 22px;}
.gs_outside_partner dt{ margin-right: 5px; display: inline; line-height: 20px; font-weight: bold; color:#999;}
.gs_outside_partner dd{ margin-right: 4px; display: inline; line-height: 20px; white-space:nowrap; *zoom:1}
.gs_outside_partner dd a{color:#999; text-decoration: none;}


#cui_hd,#cui_nav .cui_nav
{
    max-width:980px;}

.gs-header .content,#cui_hd,#cui_nav .cui_nav,{
 -moz-transition:width 250ms;
-webkit-transition:width 250ms;
-o-transition:width 250ms;
transition:width 250ms;}

/*  h2文案改为链接样式  */
a.h2seostyle{color:#333!important;}
a.h2seostyle:hover{color:#333!important; text-decoration:none;}

.clearboth{clear:both; font-size:0; height:0px;}


/* pagefoot 注册弹出层  by cwp checkin */
.gs_bottom_pop_inforin, 
.gs_bottom_pop_mid .regbutton, 
.gs_bottom_pop_mid .loginbutton, 
.gs_bottom_pop_right .gs_micromes, 
.gs_bottom_pop_right .gs_focus_us, 
.gs_bottom_pop_inforout a.gs_bottom_pop_close, 
.gs_bottom_pop_left span
{
    background:url(/fed/img/bottom_pop_bg.png) 0 0 no-repeat;
    _background:url(/fed/img/bottom_pop_bg.gif) 0 0 no-repeat;
}
.gs_bottom_pop_blk{width:100%;height:180px;background:#0a1e35;background:rgba(10,30,53,0.9);position:fixed;bottom:0;_position:relative; display:none; z-index:150; display:none; }
.gs_bottom_pop_inforout{width:980px;height:216px;margin:-36px auto 0 auto;position:relative;}
.gs_bottom_pop_inforout a.gs_bottom_pop_close{width:22px;height:22px;color:#fff;display:inline-block;overflow:hidden;cursor:pointer;position:absolute;right:0;top:46px;background-position:-299px -249px;}
.gs_bottom_pop_inforout a.gs_bottom_pop_close:hover{background-position:-299px -291px;}
.gs_bottom_pop_inforin{width:750px;height:216px;margin:0 auto;background-position:left top;}    
.gs_bottom_pop_left{float:left;width:188px;height:216px;}
.gs_bottom_pop_left .gs_pop_animation_show{position:relative;height:142px;overflow:hidden;}
.gs_bottom_pop_left span{position:absolute;display:block;overflow:hidden;}
.gs_bottom_pop_left span.gs_bpop_wd{background-position:left -535px;width:46px;height:60px;left:47px;top:66px;z-index:260;}
.gs_bottom_pop_left span.gs_bpop_jd{background-position:-56px -535px;width:52px;height:68px;left:119px;top:0;z-index:290;}
.gs_bottom_pop_left span.gs_bpop_yj{background-position:-118px -535px;width:69px;height:89px;left:95px;top:51px;z-index:280;}
.gs_bottom_pop_left span.gs_bpop_gl{background-position:-197px -535px;width:35px;height:45px;left:84px;top:16px;z-index:240;}
.gs_bottom_pop_left span.gs_bpop_mdd{background-position:-242px -535px;width:64px;height:82px;left:5px;top:22px;z-index:250;}
.gs_bottom_pop_left span.gs_bpop_ms{background-position:-316px -535px;width:29px;height:38px;left:84px;top:100px;z-index:230;}
.gs_bottom_pop_left span.gs_bpop_yl{background-position:-355px -535px;width:33px;height:43px;left:53px;top:1px;z-index:220;}
.gs_bottom_pop_left span.gs_bpop_qt{background-position:-319px -341px;width:136px;height:88px;left:37px;top:47px;z-index:210;}
.gs_bottom_pop_left span.gs_bpop_qt
{
    -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear,popupall 1s ease 2s forwards;
	-moz-animation:popupsingle 1s linear,popupall 1s ease 2s forwards;
	-o-animation:popupsingle 1s linear,popupall 1s ease 2s forwards;
}
.gs_bottom_pop_left span.gs_bpop_jd
{
    -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear 0.5s,popupall 1s ease 2s forwards;
	-moz-animation:popupsingle 1s linear 0.5s,popupall 1s ease 2s forwards;
	-o-animation:popupsingle 1s linear 0.5s,popupall 1s ease 2s forwards;
}
.gs_bottom_pop_left span.gs_bpop_yl
{
   -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear 0.6s,popupall 1s ease 2.1s forwards;
	-moz-animation:popupsingle 1s linear 0.6s,popupall 1s ease 2.1s forwards;
	-o-animation:popupsingle 1s linear 0.6s,popupall 1s ease 2.1s forwards;
}  
.gs_bottom_pop_left span.gs_bpop_gl
{
    -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear 0.7s,popupall 1s ease 2.2s forwards;
	-moz-animation:popupsingle 1s linear 0.7s,popupall 1s ease 2.2s forwards;
	-o-animation:popupsingle 1s linear 0.7s,popupall 1s ease 2.2s forwards;
}
.gs_bottom_pop_left span.gs_bpop_mdd
{
    -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear 0.9s,popupall 1s ease 2.3s forwards;
	-moz-animation:popupsingle 1s linear 0.9s,popupall 1s ease 2.3s forwards;
	-o-animation:popupsingle 1s linear 0.9s,popupall 1s ease 2.3s forwards;
}
.gs_bottom_pop_left span.gs_bpop_yj
{
    -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear 1s,popupall 1s ease 2.4s forwards;
	-moz-animation:popupsingle 1s linear 1s,popupall 1s ease 2.4s forwards;
	-o-animation:popupsingle 1s linear 1s,popupall 1s ease 2.4s forwards;
}
.gs_bottom_pop_left span.gs_bpop_wd
{
    -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear 1.1s,popupall 1s ease 2.5s forwards;
	-moz-animation:popupsingle 1s linear 1.1s,popupall 1s ease 2.5s forwards;
	-o-animation:popupsingle 1s linear 1.1s,popupall 1s ease 2.5s forwards;
}
.gs_bottom_pop_left span.gs_bpop_ms
{
    -webkit-transform:translate(0,142px);
    -moz-transform:translate(0,142px);
    -o-transform:translate(0,142px);
	-webkit-animation:popupsingle 1s linear 1.2s,popupall 1s ease 2.6s forwards;
	-moz-animation:popupsingle 1s linear 1.2s,popupall 1s ease 2.6s forwards;
	-o-animation:popupsingle 1s linear 1.2s,popupall 1s ease 2.6s forwards;
}

@-webkit-keyframes popupsingle{
	0%{-webkit-transform:translateY(142px);opacity:0.5;}
	50%{-webkit-transform:translateY(0px);opacity:1;}
	100%{-webkit-transform:translateY(-142px);opacity:0;}
}
@-moz-keyframes popupsingle{
	0%{-moz-transform:translateY(142px);opacity:0.5;}
	50%{-moz-transform:translateY(0px);opacity:1;}
	100%{-moz-transform:translateY(-142px);opacity:0;}
}
@-o-keyframes popupsingle{
	0%{-o-transform:translateY(142px);opacity:0.5;}
	50%{-o-transform:translateY(0px);opacity:1;}
	100%{-o-transform:translateY(-142px);opacity:0;}
}

@-webkit-keyframes popupall{
	0%{-webkit-transform:translateY(142px);opacity:0.5;}
	100%{-webkit-transform:translateY(0);opacity:1;}
}
@-moz-keyframes popupall{
	0%{-moz-transform:translateY(142px);opacity:0.5;}
	100%{-moz-transform:translateY(0);opacity:1;}
}
@-o-keyframes popupall{
	0%{-o-transform:translateY(142px);opacity:0.5;}
	100%{-o-transform:translateY(0);opacity:1;}
}
       
.gs_bottom_pop_mid{float:left;padding:151px 0 0 36px;}
.gs_bottom_pop_mid .regbutton, .gs_bottom_pop_mid .loginbutton{display:inline-block;width:117px;height:36px;line-height:36px;overflow:hidden;color:#fff;font-size: 18px;font-family:MicroSoft YaHei;text-align:center;text-decoration:none;}
.gs_bottom_pop_mid .regbutton{background-position:0 -249px;margin-right:16px;}
.gs_bottom_pop_mid .regbutton:hover{background-position:0 -341px;text-decoration:none;}
.gs_bottom_pop_mid a.regbutton:active{background-position:0 -295px;}
.gs_bottom_pop_mid .loginbutton{background-position:-133px -249px;}

.gs_bottom_pop_mid .loginbutton:hover{background-position:-133px -341px;text-decoration:none;}
.gs_bottom_pop_mid a.loginbutton:active{background-position:-133px -295px;}
.gs_bottom_pop_right{float:right;padding-top:72px;position:relative;}
.gs_bottom_pop_right .gs_micromes{display:inline-block;width:99px;height:118px;overflow:hidden;background-position:left -397px;margin-right:36px;}
.gs_bottom_pop_right .gs_focus_us{display:inline-block;width:88px;height:118px;overflow:hidden;background-position:-133px -397px;text-decoration:none;}

/* 新footer by rzou */
.footerseo{
    background: #f2f2f2;
    width: 100%;
    color: #666;
    padding:30px 0 0;
}
.footerseo .footerseo_con{
    width: 980px;
    margin:0 auto;
    padding:0 0 30px;
}
.footerseo .footerseo_con a{
    color: #666;
}
.footerseo_con .seo_title{
    height: 16px;
    line-height: 16px;
    padding-bottom:5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.footerseo_con .seo_title .seotitle1{
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.footerseo_con .seo_title .seotitle2{
    float: left;
    font-size: 12px;
    font-weight: bold;
}
.footerseo_con .seo_title .seo1title_r{
    float: right;
}
.footerseo_con .seo_title .seo1title_r h3{
    font-size: 12px;
    font-weight: bold;
    display: inline;
    *zoom:1;
}
.footerseo_con .seo_title .seo1title_r a{
    margin:0 5px;
}
.footerseo_con .seo_title .more{
    float: right;
}
.footerseo_con p{
    line-height: 18px;
}
.footerseo_con .seotitle3{
    font-size: 12px;
    font-weight: normal;
    margin: 20px 0 6px;
}
.seojs2line .seojscon{
    height: 36px;
    overflow: hidden;
}
.seojs3line .seojscon{
    height: 54px;
    overflow: hidden;
}
.footerseo_con ul li{
    float: left;
    width: 84px;
    padding-right: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.seojs2line ul li{
    width: auto;
}
.footerseo_con ul.seomb10{
    margin-bottom: 10px;
}
.footerseo .linklist{
    line-height: 18px;
}
.footerseo .linklist a{
    margin-right: 15px;
    white-space: nowrap;
    display: inline-block;
    *zoom:1;
}
.footerseo .footerseo_con1{
    line-height: 18px;
    height: 18px;
    width: 100%;
    overflow: hidden;
}
.footerseo .footerseo_con1 ul{
    overflow: hidden;
}
.footerseo .footerseo_con1 ul li{
    width: auto;
    float: left;
    margin-right: 20px;
}
.footerseo .footerseo_con1 a{
    margin-right: 20px;
    white-space: nowrap;
}
.footgray{ 
    width:100%;
    padding:30px 0;
    background: #666;
    margin:0 0 15px;
}
.footgray .footinner{
	width:980px;
	margin:0 auto;
	-moz-transition:width 250ms;
    -webkit-transition:width 250ms;
    -o-transition:width 250ms;
    transition:width 250ms;
}
.footgray .footinner dl{
	width:180px;
	overflow:hidden;
	float:left;
	padding-right:20px;
	-moz-transition:width 250ms;
    -webkit-transition:width 250ms;
    -o-transition:width 250ms;
    transition:width 250ms;
}
.footgray .footinner dl.ftabout{
    width: 150px;
}
.footgray .footinner dl.ftguanzhu{
    float: right;
    width: 207px;
    padding:0;
}
.footgray .footinner dt{
	color:#fff;
	padding-bottom:24px;
	font-size:18px;
}
.footgray .footinner dd{
	line-height:24px;
    font-size: 14px;
}
.footgray .footinner a{
	color:#fff;
}
.footgray .ftguanzhu .youguanzhu .ftweixin{
    float: left;
    width: 88px;
    height: 118px;
    margin-right: 30px;
    background: url(/common/img/img_footer_wb.png) 0 0 no-repeat;
}
.footgray .ftguanzhu .youguanzhu .ftweibo{
    float: left;
    width: 88px;
    height: 118px;
    background: url(/common/img/img_footer_wb.png) -89px 0 no-repeat;
}
.footgray .ftguanzhu .youguanzhu .ftweibo:hover{
    background: url(/common/img/img_footer_wb.png) -178px 0 no-repeat;
}

@media only screen and (min-width: 1419px) { 
    .gs_bottom_pop_inforout {
        width:1180px;
    }
}